@page
@model IndexModel
@{ ViewData["Title"] = "Home page"; }


<div class="text-center">

    <style>
        li {
            background-color: white;
        }

        body {
            background-image: url(photo.jpeg);
        } 
    </style>

    <h1 style="color:white;">Welcome to Women of Computer Science</h1>
    <p style="color:white;">Learn about the women who shaped our world!</p>

    <h3 style="color:white;">1800s</h3>
    <ul>
        <li><a href="https://en.wikipedia.org/wiki/Monica_Anderson">Monica Anderson</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Aisha_Bowe">Aisha Bowe</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Tawanna_Dillahunt">Tawanna Dillahunt</a></li>
    </ul>

    <h3 style="color:white;">1900s</h3>
    <ul>
        <li><a href="https://en.wikipedia.org/wiki/Carol_Espy-Wilson">Carol Yvonne Espy-Wilson</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Rediet_Abebe">Rediet Abebe</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Shaundra_Daily">Shaundra Daily</a></li>
    </ul>

    <h3 style="color:white;">2000s</h3>
    <ul>
        <li><a href="https://en.wikipedia.org/wiki/Kristen_Ransom">Kristen Ransom</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Khalia_Braswell">Khalia Braswell</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Mary_Jackson_(engineer)">Mary Jackson</a></li>
    </ul>

    <h3 style="color:white;">2010s</h3>
    <ul>
        <li><a href="https://en.wikipedia.org/wiki/Katherine_Johnson">Creola Katherine Johnson</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Yeshimabeit_Milner">Yeshimabeit Milner</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Melba_Roy_Mouton">Melba Roy Mouton</a></li>
    </ul>

    <h3 style="color:white;">Present Day</h3>
    <ul>
        <li><a href="https://en.wikipedia.org/wiki/Kimberly_Bryant_(technologist)">Kimberly Bryant</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Andrea_Grimes_Parker">Andrea Grimes Parker</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Lyndsey_Scott">Lyndsey Scott</a></li>
    </ul>

</div>
