@page
@model WomenofCS.SP2Model
@{
}
<div>
    <h1>Here are some Honarable Mentions!</h1>
    <style>
        body {
            background-color: yellow
        }

        div.gallery {
            margin: 5px;
            border: 5px solid #ccc;
            float: left;
            height: 250px;
            width: 200px;
        }

            div.gallery:hover {
                border: 5px solid #777;
            }

            div.gallery img {
                width: 100%;
                height: 90%;
            }
        div.desc {
            text-align: center;
        }
        
        div.desc a {
            padding: 15px;
        }
    </style>

    <div class="gallery">
        <img src="GH.jpeg" alt="Grace Hopper" />
        <div class="desc"><a href="https://en.wikipedia.org/wiki/Grace_Hopper">Grace Hopper</a></div>
    </div>

    <div class="gallery">
        <img src="Rhodes.jpeg" alt="Ida Rhodes" />
        <div class="desc"><a href="https://en.wikipedia.org/wiki/Ida_Rhodes">Ida Rhodes</a></div>
    </div>

    <div class="gallery">
        <img src="BH.jpeg" alt="Betty Holberton" />
        <div class="desc"><a href="https://en.wikipedia.org/wiki/Betty_Holberton">Betty Holberton</a></div>
    </div>

    <div class="gallery">
        <img src="AL.jpeg" alt="Ada Lovelace" />
        <div class="desc"><a href="https://en.wikipedia.org/wiki/Ada_Lovelace">Ada Lovelace</a></div>
    </div>

    <div class="gallery">
        <img src="AE.jpeg" alt="Annie Easley" />
        <div class="desc"><a href="https://en.wikipedia.org/wiki/Annie_Easley">Annie Easley</a></div>
    </div>

    <div class="gallery">
        <img src="TW.jpeg" alt="Talitha Washington" />
        <div class="desc"><a href="https://en.wikipedia.org/wiki/Talitha_Washington">Talitha Washington</a></div>
    </div>

    <div class="gallery">
        <img src="GW.jpeg" alt="Gladys West" />
        <div class="desc"><a href="https://en.wikipedia.org/wiki/Gladys_West">Gladys West</a></div>
    </div>

    <div class="gallery">
        <img src="EG.jpeg" alt="Evelyn Boyd Granville" />
        <div class="desc"><a href="https://en.wikipedia.org/wiki/Evelyn_Boyd_Granville">Evelyn Boyd Granville</a></div>
    </div>

    <div class="gallery">
        <img src="MW.jpeg" alt="Marsha Rhea Williams" />
        <div class="desc"><a href="https://en.wikipedia.org/wiki/Marsha_Rhea_Williams">Marsha Rhea Williams</a></div>
    </div>

    <div class="gallery">
        <img src="KY.jpeg" alt="Kateryna Yushchenko" />
        <div class="desc"><a href="https://en.wikipedia.org/wiki/Kateryna_Yushchenko_(scientist)">Kateryna Yushchenko</a></div>
    </div>
</div>
